*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(70deg, black, grey);

}

.calculater{
    border: 1px solid rgb(41, 38, 38);
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px 0px 10px;
} 
input{
    text-align: right;
    background: transparent;
    font-size: 20px;
    color: bisque;
    border: 0px;
}
input::placeholder{
    color: white;
}
button{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 5px 10px;
    border: 0px;
    color: rgb(219, 206, 206);
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    color: white;
}

.eql{
    background-color: orange;
    color: black;
}
.art{
    color: orange;
    box-shadow: 0px 0px 0px; 
}